.mainContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(90deg, #f8f8f8 11px, transparent 0),
        linear-gradient(90deg, #f50057 23px, transparent 0),
        linear-gradient(90deg, #c51162 41px, transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
    filter: blur(5px);
}

.quote {
    position: fixed;
    top: 50%;

}
